<h1>Tic Tac Toe</h1>

<div *ngIf="gameOver">
  <div *ngIf="winner === 0">
    <p>It's a tie!</p>
  </div>
  <div *ngIf="winner > 0">
    <p>{{players[winner-1].name}} wins!</p>
  </div>
  <button (click)="resetGame()">Play Again</button>
</div>

<div *ngIf="!gameOver">
  <p>Player {{currentPlayer}}'s turn</p>

  <table>
    <tr *ngFor="let row of board; let i = index">
      <td *ngFor="let cell of row; let j = index" (click)="cellClicked(i, j)">{{ getSymbol(cell) }}</td>
    </tr>
  </table>

  <div>
    <h2>Leaderboard</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Wins</th>
      </tr>
      <tr *ngFor="let player of players">
        <td>{{player.name}}</td>
        <td>{{player.wins}}</td>
      </tr>
    </table>
  </div>
</div>
